transformers
peft
torch
sentence-transformers
faiss-cpu
chromadb
pandas
datasets
pymupdf              # correct PDF library (NOT fitz)
langchain
tqdm
sentencepiece
spacy
presidio-analyzer
presidio-anonymizer
pyConTextNLP
stanza
opencv-python        # correct (NOT cv2)
pytesseract
python-dotenv   # instead of dotenv (better)
langchain_google_genai
pinecone
langchain_pinecone
