transformers
peft
torch
sentence-transformers
faiss-cpu
chromadb
pandas
datasets
pymupdf       # fitz for PDF extraction
langchain   # for text splitter (or you can write custom splitter)
tqdm          # progress bars
datasets      # huggingface datasets for merging
sentencepiece  # sometimes needed for tokenizers
spacy 
medspacy 
presidio-analyzer 
presidio-anonymizer
scispacy
medcat 
pyConTextNLP 
stanza 
asyncio
